* {
    margin: 0;
    font-family: 'Rancho', cursive;
}

body main {
    padding-top:100px;
}

/* 
const darkGreen = #2b6777 | Block
const lightBlue = #c8d8e4 | Accent
const lightWhite = #ffffff | Main Background
const lightGray = #f2f2f2 | Content Holder, Bubble
const lightGreen = #52ab98 | Hovers and Buttons
*/

#wrapper {
    width:100%;
    margin: 0 auto;
}

nav {
    background: #f2f2f2;
    height: 100px;
    width: 100%;
    line-height:50px;
    position: fixed;
    border-bottom: 5px solid #52ab98;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    border-radius: 30px;
}

#login-button {
    cursor: pointer;
}

.user-container span{
    margin-left: 15px;
}


.user-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.user-container #avatar-image {
    width: 50px;
}

.user-container a {
    margin: 0 100px;
    text-decoration: none;
    color: black
}

.user-container a:hover,
.user-container i:hover {
    color: #52ab98;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    main {
        overflow-x: hidden;
    }
    #wrapper nav {
        width: 100vw;
        font-size: 1rem;
    }
    #wrapper nav a {
        display: none;
    }
}

/* HOME SECTION */

#home-container {
    height: 89vh;
    width: 100%;
    display: flex;
}

.btn {
    position: absolute;
    font-size: 3rem;
    bottom: 40%;
    right: 3%;
    border: 1px solid #52ab98;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
    color: #f2f2f2;
    background-color:#2b6777;
}

.egg {
    position: absolute;
    width: 70px;
    bottom: 70%;
    right: 95%;
    transform: rotate(-20deg);
}
.egg1 {
    position: absolute;
    width: 70px;
    bottom: 25%;
    right: 95%;
    transform: rotate(30deg);
}
.egg2 {
    position: absolute;
    width: 70px;
    bottom: 15%;
    right: 48%;
    transform: rotate(-25deg);
}
.egg3 {
    position: absolute;
    width: 50px;
    bottom: 80%;
    right: 55%;
    transform: rotate(60deg);
}
.egg4 {
    position: absolute;
    width: 70px;
    bottom: 41%;
    right: 65%;
}
.egg5 {
    position: absolute;
    width: 70px;
    bottom: 71%;
    right: 35%;
    transform: rotate(-30deg);
}
.egg6 {
    position: absolute;
    width: 70px;
    bottom: 30%;
    right: 5%;
    transform: rotate(50deg);
}

.text-content {
    width: 50%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b6777;
    color :white;
}

.home-title {
    font-size: 7rem;
    font-family: 'Rye', cursive;
}

.home-title span {
    font-size: 7rem;
    font-family: 'Rye', cursive;
    color: #52ab98;
}

.home-desc {
    font-size: 2rem;
}

.home-title,
.home-desc {
    margin-left: 3rem;
}

#image-content {
    width: 50%;
    height: 90vh;
}
#image-content #img {
    height: 89vh;
    width: 100%
}

@media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .btn {
        position: absolute;
        font-size: 3rem;
        bottom: 60%;
        right: 3%;
        border: 1px solid #52ab98;
        border-radius: 20px;
    }

    #home-container {
        flex-direction: column;
    }

    .text-content {
        width: 100%;
    }

    #image-content {
        order: -1;
        width: 100%;
    }

    #image-content #img {
        height: 100%;
    }

    .home-title,
    .home-title span {
        font-size: 3rem;
    }

    .egg {
        position: absolute;
        width: 70px;
        bottom: 40%;
        right: 75%;
        transform: rotate(-20deg);
    }
    .egg1 {
        position: absolute;
        width: 70px;
        bottom: 3%;
        right: 80%;
        transform: rotate(30deg);
    }
    .egg2 {
        position: absolute;
        width: 65px;
        bottom: 14%;
        right: 41%;
        transform: rotate(-25deg);
    }
    .egg3 {
        position: absolute;
        width: 50px;
        bottom: 80%;
        right: 65%;
        transform: rotate(30deg);
    }
    .egg4 {
        position: absolute;
        width: 70px;
        bottom: 3%;
        right: 15%;
    }
    .egg5 {
        position: absolute;
        width: 70px;
        bottom: 71%;
        right: 10%;
        transform: rotate(-30deg);
    }
    .egg6 {
        position: absolute;
        width: 70px;
        bottom: 30%;
        right: 5%;
        transform: rotate(50deg);
    }





}

/* MINT STYLE SECTION */

#mint-style {
    height: 700px;
    width: 100%;
    background-color: #f2f2f2;
}

#mint-style h2 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 4rem;
    font-family: 'Rye', cursive;
    border-bottom: 3px solid #52ab98;
}

#mint-style p {
    font-size: 2rem;
    width: 50%;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88%
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.process {
    /* color: #fff; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process div {
    width: 500px;
    height: 500px;
    background-color: #52ab98;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.process .mint-list ul {
    font-size: 1.3rem;
    margin-top: 10px;
    width: 85%;
}

.process .mint-list ul li {
    margin: 10px 0;
}

.process div h3 {
    width: fit-content;
    margin: 0 auto;
    font-size: 2rem;
    font-family: 'Rye', cursive;
    border-bottom: 3px solid #2b6777;
}

#raffle  ul {
    width: fit-content;
    
}

#raffle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {

    .list-container {
        flex-direction: column;
    }

    #mint-style #welcome-message {
        font-size: 1rem;
    }

    #mint-style .intro-text {
        font-size: 1.2rem;
        width: 90vw;
        margin: 20px 0;
    }

    .list-container .intro {
        width: 100%;
    }

    .process div {
        width: 90vw
    }

    .process #raffle ul {
        margin-bottom: 10px;
    }
}

/* ROADMAP SECTION */

#roadmap .prick1 {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    top:180%;
    right: 25%;
    transform: rotate(-25deg);
    box-shadow: -2px 3px 5px #52ab98;
}

#roadmap .prick2 {
    position: absolute;
    width: 200px;
    border-radius: 30px;
    top:230%;
    right: 15%;
    transform: rotate(37deg);
    box-shadow: -2px 3px 5px #52ab98;
}

#roadmap .prick3 {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    top:220%;
    right: 75%;
    transform: rotate(25deg);
    box-shadow: -2px 3px 5px #52ab98;
}
#roadmap .prick4 {
    position: absolute;
    width: 200px;
    border-radius: 30px;
    top:170%;
    right: 65%;
    transform: rotate(-10deg);
    box-shadow: -2px 3px 5px #52ab98;
}

#roadmap {
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b6777;
}


#roadmap .roadmap-container {
    border: 5px solid #52ab98;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#roadmap h2 {
    font-family: 'Rye', cursive;
    font-size:4rem;
}

#roadmap li {
    font-size: 2rem;
    list-style:none;
    margin: 25px 0;
    
}

#roadmap span {
    font-family: 'Rye', cursive;
    color: #52ab98;
}

@media screen and (max-width: 600px) {

    #roadmap .roadmap-container {
        width: 90vw;
    }

    #roadmap .proadmap {
        font-size: 3rem;
        border-bottom: 2px solid #52ab98;
    }

    #roadmap .proadmap-list {
        font-size: 2rem;
        text-align: center;
        margin-right: 40px;
    }

    #roadmap .prick1 {
        position: absolute;
        width: 100px;
        border-radius: 50%;
        top:174%;
        right: 3%;
        transform: rotate(-25deg);
        box-shadow: -2px 3px 5px #52ab98;
    }
    
    #roadmap .prick2 {
        position: absolute;
        width: 95px;
        border-radius: 30px;
        top:223%;
        right: 3%;
        transform: rotate(20deg);
        box-shadow: -2px 3px 5px #52ab98;
    }
    
    #roadmap .prick3 {
        position: absolute;
        width: 100px;
        border-radius: 50%;
        top:250%;
        right: 75%;
        transform: rotate(-25deg);
        box-shadow: -2px 3px 5px #52ab98;
    }
    #roadmap .prick4 {
        position: absolute;
        width: 100px;
        border-radius: 30px;
        top:196%;
        right: 77%;
        transform: rotate(10deg);
        box-shadow: -2px 3px 5px #52ab98;
    }
}

/* RAFFLE SECTION */
#raffle-section {
    height: 150px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #52ab98;
}

#raffle-section h2 {
    font-family: 'Rye', cursive;
}

.raffle-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#proton-username,
#raffle-tickets {
    font-size: 1rem;
    padding: 10px 0 10px;
    width: 150px;
}

.raffle-form div {
    margin: 0 10px;
}

@media screen and (max-width: 600px) {
    #raffle-section {
        flex-direction: column;
    }

    .raffle-form {
        font-size: 1rem;
    }

    .raffle-form button {
        margin: 20px 5px 0 0;
    }

    #raffle-title {
        font-size: 2rem;
    }
}


/* TEAM SECTION */

#team {
    height: 700px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.me-img {
    width: 200px;
    border-radius: 25%;
    padding-top: 20px;
}

.me-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #52ab98; */
    border-radius: 10px;
    height: fit-content;
    text-align: center;
}

.me-container h2 {
    font-size: 2.5rem;
}

.me-container span {
    font-size: 1rem;
    color: #2b6777
}

.me-container span,
.me-container h2,
.me-container p {
    margin: 5px 20px;
}

.me-container p {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.you-img {
    width: 300px;
    border-radius: 25%;
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    #team {
        flex-direction: column;
        height: fit-content;
    }
    .me-img {
        width: 125px;
    }

    .you-img {
        width: 130px;
    }

    .me-container h2 {
        font-size: 2rem;
    }
}

/* FOOTER SECTION */

#footer {
    border-top: 2px solid #52ab98;
    background-color: #2b6777;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
    font-family: 'Rye', cursive;
    margin: auto 0;
}

#footer div h2,
#footer div span{
    font-family: 'Rye', cursive;
}

#footer div span {
    color: #52ab98
}

@media screen and (max-width: 600px) {
    #footer div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2rem;
        font-family: 'Rye', cursive;
        margin: auto 10px;
    }
}



